<mat-toolbar color="primary" class="topbar">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Menú">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">Aldo's App </span>
  <span class="spacer"></span>

  <ng-container *ngIf="auth.session as s; else loggedOut">
    <span class="welcome">
      <mat-icon>account_circle</mat-icon>
      Bienvenido
      <ng-container *ngIf="s.firstName || s.lastName; else userOnly">
        {{ s.firstName || '' }} {{ s.lastName || '' }}
      </ng-container>
      <ng-template #userOnly>{{ s.username }}</ng-template>
    </span>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Salir
    </button>
  </ng-container>

  <!-- Logged out -->
  <ng-template #loggedOut>
    <button mat-button [routerLink]="['/auth/login']">
      <mat-icon>login</mat-icon> Entrar
    </button>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container class="shell">
  <mat-sidenav #drawer class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
    [fixedInViewport]="!(isHandset$ | async)" [fixedTopGap]="64">
    <mat-nav-list>
      <!-- Always visible -->
      <a mat-list-item routerLink="/store-code" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon><span>Realizar pedido</span>
      </a>

      <!-- Only for authenticated users -->
      <a mat-list-item routerLink="/stores" routerLinkActive="active" *ngIf="auth.isAuthenticated">
        <mat-icon>store</mat-icon><span>Tiendas</span>
      </a>

      <a mat-list-item routerLink="/products" routerLinkActive="active" *ngIf="auth.isAuthenticated">
        <mat-icon>shopping_bag</mat-icon><span>Productos</span>
      </a>

      <a mat-list-item routerLink="/categories" routerLinkActive="active" *ngIf="auth.isAuthenticated">
        <mat-icon>category</mat-icon><span>Categorías</span>
      </a>

      <a mat-list-item routerLink="/orders/list" routerLinkActive="active" *ngIf="auth.isAuthenticated">
        <mat-icon>receipt_long</mat-icon><span>Pedidos</span>
      </a>

      <a mat-list-item routerLink="/auth/register" *ngIf="auth.isAuthenticated">
        <mat-icon>person_add</mat-icon><span>Registrar Usuario</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>